
.card-container {
display: flex;
justify-content: center;
}

.Unfinished {
display: flex;
justify-content: center;
}

.card {
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 300px;
  background-color: rgb(255, 231, 255);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

h1 {
    text-align: center;
    font-size: 48px;
    letter-spacing: 2px;
    margin-top: 40px;
}

.card img {
  display: block;
  margin: 0 auto;   
  width: auto;      
  max-width: 100%;
}

h4{
  text-align: center;
  font-size: 25px;
}


.comingsoon-container {
  height: 100vh;         
  display: flex;
  flex-direction: column;
  justify-content: center;    
  align-items: center; 
  text-align: center;
  background: linear-gradient(135deg,midnightblue, mediumvioletred);
  color: white;
}

.comingsoon-container h1 {
  font-size:80px;
  margin-bottom: 20px;
}

button{
text-align: center;
background-color: orchid;
width: 100%;
border-radius: 8px;
border-bottom: 0%;
padding: 10px;
}

p{
  text-align: center;
  font-size: 20px;
}

h2{
  text-align: center;
  font-size: 90px;
}

.toolbar-button{
  background-color: lightgrey;
  max-width: 65px;
}