
.sectioned {
display: flex;
}

.card {
  /* Add shadows to create the "card" effect */
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 250px;
  background-color: rgb(255, 231, 255);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

h1{
    text-align: center;
}
.card img {
  display: block;
  margin: 0 auto;   /* centers the image */
  width: auto;      /* keep original size */
  max-width: 100%;  /* prevents overflow */
}

h4{
    text-align: center;
}


.comingsoon-container {
  height: 100vh;               /* full screen */
  display: flex;
  flex-direction: column;
  justify-content: center;     /* center vertically */
  align-items: center;         /* center horizontally */
  text-align: center;
  background: linear-gradient(135deg,midnightblue, mediumvioletred);
  color: white;
  padding: 20px;
}

.comingsoon-container h1 {
  font-size:80px;
  margin-bottom: 20px;

}

button{
text-align: center;
background-color: orchid;
width: 100%;
border-radius: 8px;
border-bottom: 0%;
padding: 10px;
}