
.sectioned {
display: flex;
}

.card {
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 250px;
  background-color: rgb(255, 231, 255);
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container {
  padding: 2px 16px;
}

h1{
    text-align: center;
}
.card img {
  display: block;
  margin: 0 auto;   
  width: auto;     
  max-width: 100%;  
}

h4{
    text-align: center;
}


.comingsoon-container {
  height: 100vh;               
  display: flex;
  flex-direction: column;
  justify-content: center;     
  align-items: center;         
  text-align: center;
  background: linear-gradient(135deg,midnightblue, mediumvioletred);
  color: white;
  padding: 20px;
}

.comingsoon-container h1 {
  font-size:80px;
  margin-bottom: 20px;

}
