body {
    background-color: lightslategrey
}

header{
    background-color: rgb(115, 147, 158);
    text-align: center;
    width: 80%;
    margin: auto;
}

h1 {
    color:lightgrey;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

main{
    font-size: large;
    font-family:'Franklin Gothic Medium';
    width: 80%;
    margin: auto;
}

footer{
    background-color:darkgrey;
    text-align: center;
    width: 80%;
    margin: auto;
}