.App{
  text-align: center;
}

.card {
background-color:cornflowerblue;
border-radius: 20px;
border-top: 30px solid black;
}

.container {
  padding: 2px 16px;
}

.Pokemancard{
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  margin-top: 40px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}